* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}
.main-container {
    max-width: 1920px;
    margin: 0 auto;  
}

/* header */
:root {
    --content-green: #29B24E;
}

.header-custom {
    background-color: #fff;
}
.nav-link {
    color: #000;
    margin: 0 0.5rem;
}
.nav-link:hover {
    color: var(--roberts-green);
}
.btn-custom {
    background-color: var(--roberts-green);
    color: #fff;
    font-weight: 600;
}
.btn-custom:hover {
    background-color: #218e3a;
    color: #fff;
}